.navbar {
  --bs-navbar-padding-x: 0.5rem;
}

.navbar-brand span {
  vertical-align: middle;
  padding-left: 0.25rem;
}

.navbar-text {
  color: black;
  padding-top: 0;
  padding-bottom: 0;
}

.nav-item .dropdown-menu {
  z-index: 1100;
}

ul.dropdown-menu > li {
  text-align: center;
}

.index-table {
  width: 50%;
  margin: auto;
}

.comments-table {
  width: 50%;
  margin: auto;
}

.figure {
  width: 30%;
}

.figure-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
